# SPDX-FileCopyrightText: 2026 Patrick Quinn
# SPDX-License-Identifier: GPL-3.0-or-later
#
# Session-bus activation of Reef's licence hand-off service, installed as
# /usr/share/dbus-1/services/org.shipwright.Reef.Licences.service.
[D-BUS Service]
Name=org.shipwright.Reef.Licences
Exec=/usr/bin/shipwright-reef-licenced
